<div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  
  <table class="table table-hover table-bordered">
	<thead>
			<tr>
				<td>Main Category</td>
				<td>Category</td>
				<td>Is_active</td>
			</tr>
	</thead>
			<tr class="danger">
				<td><%= @category.maincategory.main_category %></td>
				<td><%= @category.category %></td>
				<td><%= @category.is_active %></td>
			</tr>
			<%= button_to('Back to view page', :action=>'show')  %>
				

</table>
</div>
</div>