

<div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        
        <th>Name</th>
		<th>View</th>
		<th>Edit</th>
		<!-- <th>Delete</th> -->
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
			<tr>
				<td><%= u.email %></td>
				<td><%= link_to("",{:action => 'view',:id => u.id},:class=>'fa fa-book fa-2x')%></td></td>
				<%if u.is_admin != true %>
				<td><%= link_to("",{:action => 'edit',:id => u.id},:class=>'fa fa-edit fa-2x')%></td></td>
				<%end%>

			</tr>
			<%end %>
			
    </tbody>
  </table>
</div>
</div>
	
	
	
	
