<div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-9 col-xs-offset-3">
     	<div class="col-lg-4 col-md-2 col-sm-2">
     	        <h4>Select Category</h4>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
     	      	<%= select("subcategory", "category_id", @category.collect {|c| [c.category, c.id ] }, { include_blank: "Select Category" },:class=>'form-control',:required=>true)%>
        </div>
</div>
<div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-9 col-xs-offset-3">
     	<div class="col-lg-4 col-md-2 col-sm-2">
     	        <h4>SubCategory Name</h4>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
     	      	<%= f.text_field("subcategory",:placeholder=>'Enter Sub Category  ' ,:class=>'form-control',:required=>true) %>
        </div>
</div>
<div class="col-lg-7 col-lg-offset-5 col-md-7 col-md-offset-5 col-sm-7 col-sm-offset-5 col-xs-7 col-xs-offset-3">
     	<div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-1" style="padding-top:8px;">
     	       	<%= f.check_box("is_active",:style=>'margin-left:20px;')  %>
     	</div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
  	            <h4>IS Active</h4>
        </div>     
</div>  
     	    	   



