<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jQuery Boot-Slider Example</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/boot_slider.css" />
	<script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/boot_slider.js"></script>
</head>
<body>
	<div class="container" style="margin-top:-70px;margin-left:10%">
		
				<div class="slider_nav col-xs-12 col-lg-12">
					<p id="slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					<p id="slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></p>
				</div>

				<div class="col-xs-12 col-lg-12" id="slider_full_items">
					<div class="col-xs-12 col-lg-12 slider_full_item">
						<div class="opacity"></div>
						<div class="img_large" style="background-image:url('https://unsplash.it/1920/1080?image=1044');">
							
						</div>
					</div>
					<div class="col-xs-12 col-lg-12 slider_full_item">
						<div class="opacity"></div>
						<div class="img_large" style="background-image:url('https://unsplash.it/1920/1080?image=1043');">
							
						</div>
					</div>
					<div class="col-xs-12 col-lg-12 slider_full_item">
						<div class="opacity"></div>
						<div class="img_large" style="background-image:url('https://unsplash.it/1920/1080?image=1042');">
							
						</div>
					</div>
					<div class="col-xs-12 col-lg-12 slider_full_item">
						<div class="opacity"></div>
						<div class="img_large" style="background-image:url('https://unsplash.it/1920/1080?image=1041');">
							
						</div>
					</div>
					<div class="col-xs-12 col-lg-12 slider_full_item">
						<div class="opacity"></div>
						<div class="img_large" style="background-image:url('https://unsplash.it/1920/1080?image=1040');">
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 jugad" style="width:90%">
				<div class="col-xs-12 col-lg-12" id="slider_loading"></div>
				</div>
		
	</div>
</body>
</html>