     <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><%=link_to("Home",:controller=>"public",:action=>"view")%>
                        </li>
                        <li>About us</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <!-- *** PAGES MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Pages</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                           <li>
                                    <%=link_to("Home",:controller=>"public",:action=>"view")%>
                                </li>
                                <li>
                                    <%=link_to("Contact",:controller=>"public",:action=>"contact")%>
                                </li>
                                <li>
                                    <%=link_to("About",:controller=>"public",:action=>"about")%>
                                    
                                </li>
                                

                            </ul>

                        </div>
                    </div>

                    <!-- *** PAGES MENU END *** -->


                    
                </div>

                <div class="col-md-9">

                    <div class="box" id="text-page">
                        <h1>About us</h1>

                        <p class="lead">This website aim is to show you the most common interface elements appearance on the web world. For further reference please visit official .

                        <p><strong>MA ORDER IS MADE FOR EXPERIRENCE GOOD QUALITY </strong> We are best in quality and range we are te local ines so uderstand your needs and deeds we aims to give ou comfrtable experience with our website . <em>Under theleagel circunsances we have sone tem and conditions</em> Ma Order
                           We have variety f products in our range from common use to special occasion with quality assuarrence and avail easily on your finger tips  <code>By Ma Order   </code> </p>

                        <h2>Categories</h2>

                        <ol>
                            <li>We have Men's Category</li>
                            <li>We have Women's Category.</li>
                            <li>We have Kid's Category.</li>
                            <li>We have Electronics Category.</li>
                            <li>We have Home furnishing Category.</li>
                        </ol>

                        <blockquote>
                            <p>We are best in quality and range we are te local ines so uderstand your needs and deeds we aims to give ou comfrtable experience with our website .</p>
                        </blockquote>
</p>
</div>
</div>
</div>
</div>